/* ///////////////
  Reset
  ////////////// */

:root {
  --color-primary-400: #00a1ab;
  --color-primary-500: #3741a0;

  --color-accent-400: #00cdac;
  --color-accent-500: #114243;

  --color-neutral-100: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-300: #e5e3e8;
  --color-neutral-400: #4e4e4e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ///////////////
  General styling
  ////////////// */

body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 3em;
  margin-bottom: 0;
  color: var(--color-primary-400);

}

.fs-500 {
  font-size: 1.3125rem;
  margin: 0;
}

.container {
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1000px;
}

/* ///////////////
  Buttons
  ////////////// */

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 700;
  background: var(--bg, var(--color-primary-400));
  color: var(--fg, var(--color-neutral-100));
}

.button--light {
  background: white;
  color: #4e4e4e;
}

.button--dark {
  color: white;
  background: #4e4e4e;
}

/* ///////////////
  Plans
  ////////////// */

.plans {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.plan {
  width: 16.5rem;
  padding: 2em;
  border-radius: 1em;
}

/* !---BG---Light--------------------------------------------------------------------------- */
.bg--light {
  --bg: red;
  --fg: var(--color-neutral-100);

  color: #4e4e4e;
  background: linear-gradient(-45deg, #e5e3e8, #fafafa);
}

/* .bg--light .plan__price {
  color: #00a1ab;
} */

.bg--light .button {
  color: white;
  background: #4e4e4e;
}

/* !---BG---Accent--------------------------------------------------------------------------- */
.bg--accent {
  color: #fff;
  background: linear-gradient(-45deg, #00a1ab, #3741a0);

}

.bg--accent .button {
  background: white;
  color: #4e4e4e;
}

/* !---BG---Dark--------------------------------------------------------------------------- */
.bg--dark {
  color: white;
  background: #4e4e4e;
}


.bg--accent .button {
  background: white;
  color: #4e4e4e;
}

.plan__title {
  text-transform: uppercase;
  margin: 0 0 1em;
}

.plan__price {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
  margin: 0;
}

.plan__price span {
  display: block;
  font-size: 1.5625rem;
  font-weight: 300;
}

.plan__description {
  margin: 2em 0;
  line-height: 1.5;
}

/* ///////////////
  Teams
  ////////////// */

.team-members {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  /* background: #abc; */
  text-align: left;
  flex: 1 1 45%;
  margin: 1em;
  display: flex;
  border-radius: 0.5em;
  align-items: center;
  padding: 0.5em 2em 0.5em 0.5em;
}

.team-member img {
  padding: .6rem 1.5rem .6rem .6rem;
  width: 10rem;
  border-radius: 0.25em;
}