* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

button {
  padding: 2rem 4rem;
}

button:hover {
  background-color: gray;
}

button:focus {
  background-color: crimson;
}

input:focus {
  background-color: crimson;
}

button:nth-child(2) {
  padding: 2rem 4rem;
  background-color: aqua;
}

h1::before {
  content: "Before ";
}

h1::after {
  content: " After";
}
