/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

/*
header {
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
  font-size: 6em;
  color: #414141;
  margin-bottom: 00px;

  line-height: 75px;
}

p {
  font-family: "PT Serif", serif;
  font-size: 17px;
  color: #5b5b5b;
}

.subtitle {
  font-size: 2.2em;
  color: #7d7d7d;
  margin-top: 25px;
}


.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

.lead {
  font-size: 1.3em;
}

*/

body {
  font-family: "PT Serif", serif;
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #414141;
}

a {
  color: crimson;
}

header {
  max-width: 75rem;
  text-align: center;
  margin: 6rem auto;
  padding: 0 2rem;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.9;
  margin: 0;
}

.subtitle {
  font-size: 2.25rem;
  line-height: 1.2;
  color: #7d7d7d;
}

.lead {
  font-size: 1.3125rem;
}

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
