/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Utility */
.flow-content > * + * {
  margin-top: 1.25rem;
}

/* General CSS */
body {
  font-family: "PT Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.hero {
  background-image: url(./assets/hero.jpg);
  background-size: cover;
  padding: 10rem 0;
}

.hero__content {
  background-color: #fff;
  max-width: 48rem;
  padding: 3rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background-color: aquamarine;
  color: inherit;
  padding: 0.75rem 1.5rem;
}
