*,
*::before,
*::after {
  /*box-sizing: border-box;*/
}

body {
  background-color: wheat;
  text-align: center;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.non-box {
  width: 200px;

  padding: 20px;
  border: 5px solid gray;
  margin: 20px;
}

.box {
  box-sizing: border-box;

  width: 200px;
  padding: 20px;
  border: 5px solid gray;
  margin: 20px;
}

.card-box {
  border: 5px dotted lightgreen;
}

.card {
  text-align: left;
  background: white;

  width: 100%;
  padding: 50px;
  border: 50px solid crimson;
  margin-top: 50px;
}
