body {
  background-color: gray;
  margin: 0 auto;
}

.content {
  background-color: white;
  margin-top: 200px;
  
  /* width: 100%; */
  border: 10px solid red;

  padding: 5px;
}

.title {
  font-family: sans-serif;
  font-weight: bolder; 
  color: orangered;
  
}

p {
  font-size: 1.2em;
}

.test {
  border: 5px solid gold;
  width: 300px;
}