body {
  background-color: gray;
  margin: 0 auto;
}

.content {
  background-color: white;
  margin-top: 200px;

  border: 50px solid red;

  padding: 30px;
}

.title {
  font-family: sans-serif;
  font-weight: bolder;
  color: orangered;
  
}

p {
  font-size: 1.2em;
}