* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bolder;
}

.boxes {
  border: 0.5rem solid black;
}

.box {
  padding: 2rem;
  background: #711db0;
}

.box1 {
  background: #c21292;
}

.box2 {
  background: #ef4040;
}

.box3 {
  background: #ffa732;
}

.box4 {
  background: #b31312;
}

.box5 {
  background-color: #65b741;
}
