*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* font-size: 1.5rem; */
}

/* body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  text-align: center;
  color: #5b5b5b;
} */

body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.6;
  color: #414141;

  margin: 0;
}

/* header h1 {
  font-family: 'Cinzel', serif;
  font-size: 96px;
  color: #414141;
  line-height: 0.8;
  margin: 20rem 0 0 0;
} */

header {
  max-width: 75rem;
  text-align: center;

  padding: 0 2rem;
  margin: 6rem auto;
}

h1 {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.9;

  margin: 0;
}

/* .container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
  text-align: left;
} */

.container {
  width: 90%;
  max-width: 39rem;

  margin: 0 auto;
}

/* .subtitle {
  font-size: 36px;
  color: #7d7d7d;
  margin: 3rem auto;
} */

.subtitle {
  font-size: 36px;
  line-height: 1.2;
  color: #7d7d7d;
}

.lead {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: #ca5e10;
}

.red {
  text-align: center;
  padding: 1rem;
  color: red !important;
  background: blue;
}

.blue {
  text-align: center;
  padding: 1rem;
  color: blue;
  background: red;
}

p {
  /* color: red; */
}

/* 21-introduction-to-the-cascade-- */
/*  */
/* 23-importance-and-origin-- */
/* 25-when-animations-and-transitions-get-involved-- */
/* 27-specificity-- */
/* 28-fixing-specificity-issues-- */
/* 27-specificity-- */
/* 29-calculating-specificity-- */
/* 10. Understanding Specificity */
/* 017 Understanding the Cascading Style  Specifity */
/* FrontendMasters - CSS Foundations - Specificity */
