html {
  box-sizing: border-box;
}

header {
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
  color: #414141;
  font-size: 96px;
  font-weight: 900;
  line-height: 78px;

  padding-top: 1.4em;
}

.subtitle {
  font-family: PT Serif;
  color: #7d7d7d;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;

  margin: -44px;
}

.container {
  font-family: PT Serif;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;

  width: 90%;
  max-width: 39rem;
  padding: 6.2em;
  margin: 0 auto;
}

.lead {
  font-size: 21px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;

  padding-top: 4px;
}

a {
  color: #ca5e10;
}
