/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

/*
# blog article style guide

## Colors

- Title & body: #414141
- Subtitle: #7D7D7D
- Links: #CA5E10;

---

## Typography

- Title: Cinzel 900
- Subtitle & body: PT Serif 400

### Font sizes

- title: 96px                     6rem
- Subtitle: 36px                      2.25
- Lead paragraph: 21px       1.3125
- Body: 18px                            1.125
*/

/* Kevins Code */

body {
  margin: 0; /* Added */
  font-family: "PT Serif", serif; /* Added */
  font-size: 1.125rem;
  line-height: 1.6; /* Added */
  color: #414141;
}

header {
  max-width: 75rem; /* Added */
  text-align: center; /* Added */
  padding: 0 2rem; /* Added */
  margin: 6rem auto; /* Added */
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: 900;
  font-size: 6rem;
  line-height: 0.9; /* Added */
  margin: 0; /* Added */
}

.subtitle {
  font-size: 2.25rem;
  line-height: 1.2; /* Added */
  color: #7d7d7d;
}

.lead {
  font-size: 1.3125rem;
}

a {
  color: #ca5e10;
}

/* Default */
.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
