html {
  text-align: center;
  font-family: Roboto;
  color: white;
}

.parent {
  border: 1px solid;
}

.header_text {
  box-sizing: border-box;
  border: 1px solid;
}

h1 {
  font-size: 41px;
  font-weight: 700;
  color: #00a1ab;
  text-transform: uppercase;

  padding: 51px 0 0 0;
  line-height: 0px;
}

.subheadline {
  font-family: "Roboto";
  font-size: 21px;
  font-weight: 50;
  color: black;

  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1em;
}

.plan {
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(333.85deg, #00a1ab 0.88%, #3741a0 99.09%);

  width: 260px;
  min-height: 370px;
  border-radius: 9px;
  margin: 0 24px;
}

.planA {
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(333.85deg, #e5e3e8 0.88%, #fafafa 99.09%);
  color: black;

  width: 260px;
  min-height: 370px;
  border-radius: 9px;
}

.planA__button,
.planC__button {
  background-color: #4e4e4e !important;
  color: white !important;
}

.planC {
  box-sizing: border-box;
  text-align: center;
  color: black;

  width: 260px;
  min-height: 370px;
  border-radius: 9px;
  background-image: linear-gradient(333.85deg, #e5e3e8 0.88%, #fafafa 99.09%);
}

.planC__price,
.planA__price {
  color: #00a1ab !important;
}

.planA__price__duration,
.planC__price__duration {
  color: #00a1ab !important;
}

.plan__title {
  font-size: 18px;
  text-transform: uppercase;
  padding: 34px;
}

.plan__price {
  font-size: 50px;
  line-height: 32px;
  padding-left: 1px;
  letter-spacing: 0.1px;
}

.plan__price__duration {
  font-size: 25px;
  padding-top: 6px;
}

.plan__price__description {
  font-size: 16px;
  padding-top: 24px;
  line-height: 23px;
  padding-bottom: 30px;
}

.plan__button {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: #4e4e4e;

  width: 96px;
  padding: 10px 0px;
  border-radius: 8px;

  cursor: pointer;
}

.footer {
  margin-top: 36px;
  border: 2px solid;
}

.footer_text {
  font-family: Roboto;
  font-size: 20.6px;
  font-weight: 50;
  color: black;

  padding-left: 21px;
}

.footer__button {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  background-color: #00a1ab;
  border: none;
  font-size: 15px;
  font-weight: 700;
  color: white;

  width: 127px;
  padding: 10px 0px;
  border-radius: 8px;
  margin-left: 22px;
  margin-top: 7px;

  cursor: pointer;
}
