/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

.article {
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
  text-align: center;
  font-size: 5.3em;
  line-height: 78px;
  text-transform: uppercase;
  margin-top: 220px;
}

.subtitle {
  font-family: PT Serif;
  text-align: center;
  font-size: 36px;
  margin-top: -39px;
  margin-bottom: 93px;
}
