:root {
    --primary: linear-grading(to right, blue, cyan)
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #aaa;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    position: relative;

    width: 16rem;
    height: 22rem;
    background-color: #fff;
    border-radius: .8rem;
    border-radius: 0 1rem 2rem #0002;
}

.card .ribbon-1 {
    position: absolute;
    left: 1rem;
    top: -1rem;

    width: 3rem;
    height: 5rem;
    background: linear-gradient(blue, cyan);
    color: #fff;
    text-align: center;
    line-height: 3.5rem;
}

.card .ribbon-1::before {
    position: absolute;
    content: '';

    right: -1.05rem;

    border: .52rem solid navy;

    border-right-color: transparent;
    border-top-color: transparent;
}

.card .ribbon-1::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;

    border: 1.5rem solid transparent;
    border-bottom-color: white;
}