*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    background: black;
    height: 100vh;
    margin: 0 auto;
}

img {
    width: 50%;
    background: wheat;
    transition: transform 1s;
}

img:hover {
    /* transform: translate(200px, 200px); */
    transform: translate(-500px, -200px);
}