body {
  background-color: black;
}

p {
  color: red;
  font-size: 2em;
}

.firstPara {
  color: green;
}

#secondPara {
  color: blueviolet;
  background-color: aliceblue;
  margin: 60px;
  padding: 10px;
  border: 10px dashed red;
  border-radius: 30px;
}

#secondPara p:nth-child(odd) {
  color: yellowgreen;
}
