* {
  margin: 0 auto;
  box-sizing: border-box;
}

nav {
  font-size: 24px;
  padding-top: 22px;

}

ul {
  list-style: none;
  display: inline;
  margin-left: 1em;
}

li {
  float: left;
  text-align: right;
  padding: 12px;
  
}

li:nth-child(1) {
  background: red;
  margin-left: 13em;
  padding-right: 21em;
}

li:nth-child(2),li:nth-child(3),li:nth-child(4), li:nth-child(5), li:nth-child(6), li:nth-child(7){
  background-color: blue;

}

.hero {
  display: flex;
  margin-top: 5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: left;
  padding-left: 10em;
  
}

h1 {
line-height: 90px;
}
h4 {
  padding-top: 1.7em;
  font-size: 19px;
}

.image {
  width: 500px;
}