body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

/* img::before {
  content: "";
  display: block;
  height: 100px;
  width: 100px;
  background: purple;
} */

p::before {
  content: "hello";
  color: white;
  background: crimson;
  display: block;
  font-size: 20px;
  /* width: 10px;
  height: 10px; */
}

p::after {
  content: "hi";
  text-align: end;
  color: white;
  background: crimson;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  /* width: 10px;
  height: 10px; */
}
