*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'roboto';
}

.section-title {
  font-size: 2.5rem;
  margin: 0;
}

.fs-500 {
  font-size: 1.313rem;
  margin: 0 0 0.5rem 0;
}

.pricing {
  text-align: center;
  padding: 5rem 0;
}

.plans {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.plan {
  max-width: 18rem;
  padding: 2rem;
  border-radius: 0.8rem;
  /* margin: 0.7rem; */
}

.plan--light {
  background: linear-gradient(to left, #e5e3e8, #fafafa);
  box-shadow: 0 4px 2px #797979;
  border-radius: 0.8rem 0 0 0.8rem;
  margin: 3rem 0;
}

.plan--light .plan-price {
  color: #00a1ab;
}

.plan--light .button {
  background: #4e4e4e;
  color: #ffffff;
}

.plan--accent {
  background: linear-gradient(#3741a0, #00a1ab);
  box-shadow: 0 4px 2px #797979;
  color: white;
  padding: 5rem 2rem;
}

.button--accent {
  background: #00a1ab;
  color: #ffffff;
}

.plan--accent .button {
  background: #ffffff;
  color: #4e4e4e;
}

.plan-price {
  font-size: 3rem;
  margin: 0;
}

.plan-price span {
  font-size: 1.5rem;
  line-height: 0.8;
  display: block;
}

.plan-description {
  margin: 2rem 1rem;
}

.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 1px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: #00a1ab;
  color: #ffffff;
}

.plan--dark {
  background: #4e4e4e;
  color: #e6e4e9;
  border-radius: 0 0.8rem 0.8rem 0;
  margin: 3rem 0;
}

.text-accent {
  color: #00a1ab;
}

.plan-title,
.button,
.section-title {
  text-transform: uppercase;
}

.team {
  display: flex;
  justify-content: center;
  /* background: yellowgreen; */
  text-align: center;
  margin: 0 auto;
}

.container {
  margin: 5rem 0;
  max-width: 75rem;
}

.team-members {
  display: flex;
  flex-wrap: wrap;

  margin: 3rem 0;
}

.team-member {
  display: flex;
  align-items: center;
  text-align: left;
  box-shadow: 0 1px 1px #797979;
  flex: 1 1 45%;

  border-radius: 0.5rem;
  margin: 1rem;
}

.team-member .info {
  margin: 0 1rem;
}

.team-member img {
  border-radius: 0.5rem;
}

.position {
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1;
  margin: 0.25rem 0;
}

.team-member-light {
  flex-direction: row-reverse;
  text-align: right;
  background: linear-gradient(to right, #fafafa, #e5e3e8);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.team-member-light .name {
  color: #00a1ab;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.team-member-light .position {
  color: #4e4e4ed8;
}

.team-member-dark {
  background: #4e4e4e;
  color: #ffffffb9;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
}

.team-member-dark .name {
  color: #ffffff;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.team-member-dark .position {
  color: #ffffffce;
}

/* Issues */
/* Issue #1 -       <p class="fs-500">plans that work for everyone</p> is thicker  */
/* Issue #2 -       <p class="plan-price"> is thinner  */

/* 31B-a-safe-approach-to-css-- */
/* 33-my-solution-- */
