*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  text-align: center;
  margin: 0 auto;
}

.element {
  width: 200px;

  padding: 20px;
  border: 5px solid white;
  margin: 20px auto;
}
