/*
.red {
  background-color: red !important;
}

.blue {
  background: blue;
}

body {
  margin: 0 auto;
}

.element {
  background: blue;
  background: red;
}

.parent {
  padding-top: 10rem;
}
.content {
  border: 2em solid orangered;
  padding: 2em;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  color: orangered;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
*/
/*
p {
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 1em;
  transition: all 500ms;
}

p:hover {
  animation: test 5s forwards;
}

p:hover {
  transition-duration: 2.5s;
  color: yellow;
  background: black;
}

p {
  color: red !important;
}

@keyframes test {
  from {
    background: crimson;
    color: green;
  }
  to {
    background: yellow;
    color: black;
  }
}
*/
body {
  margin: 0 auto;
}

p {
  color: white;
  text-align: center;
  padding: 1em;
}

.red.blue {
  background: purple;
}

.red {
  background: red;
}

.blue {
  background: blue;
}
